body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav u{

}

nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color:coral
}

.brand img{
    width: 12px;
}